* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
  }
  
  /* header, footer {
    background: #eee;
    padding: 5rem;
    text-align: center;
  }
   */
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 80%;
    margin: 2rem auto;
  }
  
  /* Styling hero */
  /* .hero {
    max-width: 50rem;
    margin-bottom: 3rem;
  }

  
  .hero p {
    color: #555;
    opacity: .8;
    line-height: 1.5rem;
  } */
  

  
  /* Styling grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
  }
  
  .grid div {
    background: #eee;
    height: 10rem;
    /* center the text */
    display: flex;
    align-items: center;
    justify-content: center;
  }

 .sidebar-header h3{
    color:black;
    padding-top: 25px;
    padding-bottom: 25px;
 }

  
  .article {
    flex-grow: 999;
    flex-basis: 0;
  }
  
  .sticky2 {
    background: #eee;
    height: 100%;
    /* width: 100px; */
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 2rem;
    /* center the text */
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    box-shadow: 10px 15px 10px 10px rgba(0,0,0,0.1);
    /* border: solid 2px black; */
  }

/* .listslide{
    list-style: none;

} */



.listslide{
    list-style: none;
    /* padding-left: ; */
}
.listslide li{
    line-height:3em;
    padding-top: 10px;

}

.listslide li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

