/* 
d9b903
008080 */
*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background: #fb9069;
    color: #fff;
    position: relative;
    

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.logo{
    text-decoration: none;
    color: #083459;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
}

.nav-links{
    text-align: right;
    background: #008080;
    padding: 10px 30px;
    border-bottom-left-radius: 18px;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #008080 ;
}

.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 5%;
}

.left-col{
    flex-basis: 40%;
}
.right-col{
    flex-basis: 55%;
}

.left-col img{
    width: 90%;
    
    cursor: pointer;
    filter: grayscale(0);
    transition: filter 1s;
}

.left-col img:hover{
    filter: grayscale(1);
}

.right-col h1{
    font-size: 55px;
    font-weight: 600;
}
.right-col p{
    color: azure;
    margin: 20px 0 70px;
}
